<div class="container m-auto">
<h1>Ask a question</h1>
<form action="/answer" method="get" data-turbo="false" class="input-group mb-3">
  <input type="text" name="question" placeholder="Ask a question" class="input-group-append">
  <input type="submit" value="Ask!" class="btn btn-primary input-group-text">
</form>
</div>
